* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
   
  body {
    font-family: 'Inter', sans-serif;
    background-color: whitesmoke;
  }
   
  img {
    width: 100%;
  }
   
  .contact-app {
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
   
  }
   
  .contact-app  h1 {
    font-weight: normal;
    font-size: 48px;
    margin-bottom: 32px;
  }
   
  .contact-item {
    display: flex;
    align-items: center;
    margin: 24px 0;
    border: 1px dashed black;
    padding: 16px;
    border-radius: 8px;
  }
   
  .contact-item__image img {
    width: 64px;
    border-radius: 50%;
  }
   
  .contact-item__body {
    margin-left: 8px;
    padding-left: 8px;
    border-left: 1px solid #aaa;
    flex: 1;
  }
   
  .contact-item__title {
    padding: 4px 0;
  }
   
  .contact-item__username {
    font-weight: lighter;
  }
   
  .contact-item__delete {
    padding: 8px;
    font-size: 18px;
    background-color: orangered;
    color: white;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    
  }
   
  .contact-input {
    border: 1px dashed black;
    padding: 16px;
    margin: 14px 0;
    border-radius: 8px;
    margin-bottom: 32px;
  }
   
  .contact-input input {
    display: block;
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    font-family: 'Inter', sans-serif;
  }
   
  .contact-input button {
    width: 100%;
    padding: 8px;
    font-family: 'Inter', sans-serif;
  }